<%- include('./partials/header.ejs') %> 

<h1>Home</h1>
<p><%= startingContent %></p>

<% newContent.forEach(c => {  %>
    <h1> <%= c.title %> </h1>
    <p> <%= c.content %> </p>
<% }); %> 

<%- include('./partials/footer.ejs') %> 